---
title: Bloggin' VLC !
layout: 'base.njk'
---

<main>
  <section class="hero">
    <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Bienvenido a mi Netlify CMS !</h1>
        <p>Esta página web se hizo con la nueva technología JAMstack (JavaScript-API-Markdown) y esta distribuido por el Netlify CMS (Content Management System). Su particularidad es que es una página que puede ser modificada mediante una interfaz usuario. Significa que el proprietario no necesita saber de programación para poder administrala a su gusto.</p>
        <p>Para entrar en el CMS es necesario ser el administrador: desde la URL, al igual que se haria en Wordpress o Wix, se añade "/admin" (ejemplo > https://bloggin-vlc.netlify.app/admin). Una ventana pidiendo nuestro username y password se abrira automaticamente para poder seguir adelante y auto-gestionar la página desde la interfaz. El proposito de esta página es para demostración. Muchas gracias</p>
        <p><i>Kevin</i></p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Destacados</a>
          <a href="./blog" class="btn btn--neutral">Artículos recientes</a>
        </div>
      </div>
      <div>
        <img src="./assets/hero-image-james-harrison-unsplash.jpg" alt="hero image" class="hero__image">
      </div>
    </div>
  </section>
  <section id="featured-articles" class="featured-articles">
    <div class="container flow">
      <h2 class="section-title text-center ">Destacados</h2>
      <p class="text-center">Unos ejemplos de pseudo-artículos.</p>
      <ul role="list" class="articles__list flow">

        {%- for post in collections.featured | reverse -%}
          {% include 'article-snippet.njk' %}
        {%- endfor -%}

      </ul>
    </div>
  </section>
</main>